<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lbins.Jewelry"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <!-- Required -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.xiaogang.Mine.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.easemob.chatuidemo.permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- zxing -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Creates a custom permission so only this app can receive its messages. NOTE: APP_PACKAGE.permission.C2D_MESSAGE -->
    <!--<permission-->
    <!--android:name="com.videogo.open.permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.videogo.open.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true" />

    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:name=".UniversityApplication"
                 android:icon="@drawable/ic_launcher">
        <activity android:name=".ui.Login"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.Regist" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.HelpActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineFavourActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.ChangyongGyActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.ShoushiPjActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.ChengpinActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.QiugouActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.GongyingActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineCartActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.OrderMakeActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.SelectFapiaoActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.SelectAddressActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineAddressUpdateActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineAddressAddActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.MineAddressActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.DetailProductActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.DetailGongyiActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.GongyiXiangjieActivity" android:windowSoftInputMode="adjustResize"  android:screenOrientation="portrait"/>


        <meta-data android:value="56a378bd67e58e42aa0029a8" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="wandoujia" android:name="UMENG_CHANNEL"/>

        <service
                android:name="com.umeng.update.net.DownloadingService"
                android:process=":DownloadingService" >
        </service>
        <activity
                android:name="com.umeng.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>


    </application>
</manifest>
